{% extends "base.html" %}

{% block bodyblock %}

<div class="jumbotron d-flex justify-content-center">
    <h1 class="name">Le Cherng Lee</h1>
</div>
<div class="card d-flex align-items-center">
    <div class="card-body">
        <h3>Le Cherng Lee KuroiRaku黒い楽</h3>
        <h6>  <a href="{{ url_for('main.home_web_dev') }}" style='font-size:48px; color:red'>Web Developer </a>|| <a href="{{ url_for('main.home_game_dev') }}" style='font-size:48px; color:red'> Game Developer </a> </h6>

        <div id="game-dev">
        <h5 class="card-title"> C++ | Unreal Engine | C# | Unity | OpenGL | ImGui | MuseScore </h5>
        </div>
        <p></p>
    </div>
</div>
{% endblock %}
